/* src/App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 14px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  form {
    margin: 20px auto;
    width: 300px;
  }
  
  input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    text-align: center;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }
  
  /* .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
  } */
  
  .tab-content.active {
    display: block;
  }

  /*
  label {
    display: inline-block; 
    margin: 10px 0; 
  }
  */

  .result-pre {
    white-space: pre-wrap; /* 允许自动换行，同时保留格式 */
    word-wrap: break-word; /* 长单词或URL等可以断行 */
    overflow-wrap: break-word; 
    margin: 10px 0; 
  }
  